* {
   margin: 0;
   padding: 0;
}

body, html {
   height:100%;
}

body {
	background: #888888;
}

#menu {
	margin-left: -10000px;
}

#title {
	position: relative;
	top: 40px;
	left: 50%;

	text-align: center;
	font-size: 24px;
	font-weight: normal;
	
	width: 280px;

	align-content: center;

	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;

	margin-left: -146px;
}

#motive {
	position: relative;
	top: 60px;
	left: 50%;

	text-align: center;
	font-size: 16px;
	font-weight: normal;

	width: 360px;

	align-content: center;

	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;

	margin-left: -186px;
}

.block {
	position: relative;
	top: 100px;

	min-width: 320px;

	padding: 10px;
	margin: 10px;

	border-style: solid;
	border-width: 2px;
	border-color: black;
}

#about {
	text-align: justify;
	text-justify: inter-word;
}

@media screen and (max-width: 432px) {
	#title, #motive {
		margin: 0 auto;
		width: 90%;
		left: auto;
		margin-left: auto;
	};
}

@media screen and (max-width: 432px) {
	.block {
		margin: 0 auto;
		width: 90%;
		left: auto;
		margin-left: auto;
		margin-bottom: 10px;
	};
}

.space {
	position: relative;
	top: 100px;

	min-width: 320px;

	padding: 10px;
	margin: 10px;
}

#legal {
	font-size: 10px;
}

canvas {
	border: solid 0px rgba(0,0,0,0.1);

	position: relative;
	
	top: 100px;
	left: 50%;

	margin-left: -160px;
	margin-bottom: 10px;
}

